@font-face {
    font-family: 'raavi';
    src: url('fonts/raavi.ttf');
    src: url('fonts/raavi.ttf');

    /*a name to be used later*/
}

body, html {
    font-family: raavi;
}

.vis.timeline .timeaxis .text{
    margin-left: -19px;
    text-align: center;
    height: 15px;
    margin-top: -2px;
    color: #3895D0;
    font-size: 13px;
}
.vis.timeline .timeaxis .grid.minor{
    margin-top: 45px;
    border-right: 2px solid;
    border-color: #3895D0;
    z-index: 1;
}

.vis.timeline .item.range {
    border-color: red;
    background-color: red;
    padding: 0px;
	/*
    height: 5px;
    margin-top: 22px;
	*/
	height: 8px;
    margin-top: 19px;
}

.vis.timeline .vispanel.center{
    border: 2px solid #3895D0;
}

.vis.timeline .item.range .content{
    top: -26px;
    max-width: none;
}

.item.range.cursor{
    width: 51px;
    height: 25px;
    color: red;
    overflow: visible;
}

.vis.timeline .item.range.cursor{
    border-color: rgb(12, 135, 248);
    background-color: white;
}

.item.range.cursor>div{
    width: 50px;
    height: 25px;
    color: white;
    overflow: visible;
}

.cursor_content{
    background-image: url("../img/cursor.png");
    font-size: 11px;
    text-align: center;
    height: 25px;
    margin-top: 0px;
}

.cursor_content>p{
    position: relative;
    top: 4px;
}

.cursor_content:hover{
    cursor: pointer;
}

.item.range.cursor>div.content{
    margin-left: -25px;
}

#container_timeline{
    height: 70px;
}

.vis.timeline .vispanel .shadow{
    box-shadow: 0 0 10px rgba(0,0,0,0);
}

.vis.timeline.root{
    border: none;
}