////////////////////all color
@mainBlue: #3895d0;
@mainWhite: #fff;
@main_container_body: #f6f6f6;
@player_border: #E6E6E6;
@gray: gray;
@text_color_gray: #817F7F;
@media(max-width:767px){}
@media(min-width:768px){}
@media(min-width:992px){}
@media(min-width:1200px){}
//////////////////////////////

@font-face {
  font-family: 'raavi'; /*a name to be used later*/
  src: url('/frontend/fonts/raavi.ttf');
  src: url('fonts/raavi.ttf');
}
.tanglewood-font {
  font-family: 'raavi';
}
.font_inherit{
  font-family: inherit;
}

//////////for IE - no border on img
a img
{
  border: none;
}
.text_align_center{

}

//////////////////////////////////
.margin_l_r_auto{
  margin-left: auto;
  margin-right: auto;
}
.main_radius{
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

/////////////////links style
a:link {color:@mainWhite; font-family: raavi; text-decoration: none;}
a:visited {color:@mainWhite; font-family: raavi;}
a:hover {color: #C3DFF1; font-family: raavi;}
a:active {color:@mainWhite; font-family: raavi;}
//////////////////////////
//////////////////////CONTROL PANEL

////////VARS
.width_100{
  width: 100%;
}
.height{
  height: 100%;
}
.text_align_center{
  text-align: center;
}
/////////////////////

//menu style
.menu_style{
  background-color: @mainBlue;
  font-size: 19px;
}
.ul_bcg_style{
  background-color: #2D85BD;
}
.menu_buttons_style{
  font-size: 18px;
}
.control_p_heading_login{
  font-size: 20px;
  margin-top: 10px;
  color: @mainWhite;
}
.margin_top{
  margin-top: 5px;
  margin-left: 200px;
}
///////////
////CONTROL PANEL BODY
.main_container_c_panel_body{
  width: 1250px;
  height: auto;
  min-height: 600px;
  position: absolute;
  top: 2px;
  left: 10px;
  .margin_l_r_auto;
  box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.3);
  background-color: @main_container_body;
  padding: 25px;
  font-size: 13px;
  margin-bottom: 50px;
}
.control_panel_body{
  width:1200px;
  .margin_l_r_auto;
}
.add_user_panel{
  width: 450px;
  text-align: center;
  .margin_l_r_auto;
  margin-top: 20px;
}
.form_group_style{
  margin-left: 10px;
  margin-right: 10px;
}
.control_p_user_page{
  width: 1200px;
  height: auto;
  min-height: 400px;
  box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.3);
  background-color: @main_container_body;
  overflow: auto;
  padding-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
.btn_style{
  margin: 5px;
  margin-top: 9px;
  float: left;
}
.user_page_panel{
  width: 100%;
  height: auto;
  text-align: center;
}
.user_info_container{
  width: 90%;
  height: 35px;
  float: left;
  margin-bottom: 25px;
}
.user_name_container{
  width: 320px;
  margin-left: 50px;
  float: left;
}
.user_name_heading{
  width: 100px;
  float: left;
}
.user_name{
  width: 200px;
  float: left;
  margin-top: 14px;
}
.user_mail_container{
  width: 470px;
  float: left;
}
.user_mail_heading{
  width: 50px;
  float: left;
}
.user_mail{
  width: 400px;
  float: left;
  margin-top: 14px;
}
.camera_list{
  width: 91%;
  height: auto;
  min-height: 200px;
  .margin_l_r_auto;
  margin-top: 20px;
  background-color: #ebebeb;
  overflow: auto;
}
.cam_container{
  width: 202px;
  height: 172px;
  float: left;
  -webkit-box-shadow: 1px 2px 8px 0 rgba(147,149,152,0.4);
  box-shadow: 1px 2px 8px 0 rgba(147,149,152,0.4);
  border: 1px solid @main_container_body;
  margin-left: 13px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.cam_name{
  width: 100%;
  height: 20px;
  font-size: 12px;
  background-color: @mainWhite;
}
.thumb_cam{
  width: 200px;
  height: 120px;
  background-image: url('../img/thumb_cam_c_panel.jpg');
}
.empty_cam{
  width: 200px;
  height: 120px;
  background-image: url('../img/cam_avatar_img.jpg');
}

.btn_del_cam{
  margin-top: 5px;
}
.add_camera_panel{
  text-align: center;
}
//////////////////////

.add_camera_panel{
  width: 450px;
  .margin_l_r_auto;
  margin-top: 25px;
}
