@font-face {
  font-family: 'raavi';
  src: url('/frontend/fonts/raavi.ttf');
  src: url('fonts/raavi.ttf');
  
  /*a name to be used later*/
}
.tanglewood-font {
  font-family: 'raavi';
}
.font_inherit {
  font-family: inherit;
}
a img {
  border: none;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
.margin_l_r_auto {
  margin-left: auto;
  margin-right: auto;
}
.main_radius {
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
a:link {
  color: #ffffff;
  font-family: raavi;
  text-decoration: none;
}
a:visited {
  color: #ffffff;
  font-family: raavi;
}
a:hover {
  color: #C3DFF1;
  font-family: raavi;
}
a:active {
  color: #ffffff;
  font-family: raavi;
}
.login_page {
  width: 100%;
  height: auto;
  min-height: 100%;
  background-color: #3895d0;
  margin-top: -40px;
}
.login_page_contents {
  margin-top: 50px;
}
.login_logo {
  width: 130px;
  height: 91px;
  background-image: url('../img/logo.png');
  margin-left: auto;
  margin-right: auto;
  margin-top: -29px;
}
.login_form_style {
  margin-left: 10px;
}
.login_welcome_con {
  width: 100%;
  height: auto;
  margin-top: -50px;
}
.login_welcome_text {
  text-align: left;
  color: #ffffff;
}
.blank_div {
  width: 100%;
  height: 150px;
}
.navbar_bottom {
  border-top: 5px solid #ffffff;
  max-width: 92%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
.login_page_links_con {
  width: 550px;
  height: 20px;
}
.login_page_links {
  width: 150px;
  height: 20px;
  text-align: center;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  font-family: 20px;
}
/*LOGIN CSS*/
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
}
.account-wall {
  padding: 40px 0px 20px 0px;
  border: 2px solid #ffffff;
  color: #ffffff;
  border-radius: 4px;
}
.login-title {
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  display: block;
}
.profile-img {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.need-help {
  margin-top: 10px;
}
.new-account {
  display: block;
  margin-top: 10px;
}
