@font-face {
  font-family: 'raavi';
  src: url('/frontend/fonts/raavi.ttf');
  src: url('fonts/raavi.ttf');
  
  /*a name to be used later*/
}
.tanglewood-font {
  font-family: 'raavi';
}
.font_inherit {
  font-family: inherit;
}
a img {
  border: none;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  /*overflow-x: hidden;*/
}
.margin_l_r_auto {
  margin-left: auto;
  margin-right: auto;
}
.main_radius {
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
a:link {
  color: #ffffff;
  font-family: raavi;
  text-decoration: none;
}
a:visited {
  color: #ffffff;
  font-family: raavi;
}
a:hover {
  color: #C3DFF1;
  font-family: raavi;
}
a:active {
  color: #ffffff;
  font-family: raavi;
}
/*///////////////////////////////////////CSS FOR SCREEN RESOLUTION 1024x768px WIDE*/
.margin_l_r_auto {
  margin-left: auto;
  margin-right: auto;
}
.camera_list_heading {
  text-align: center;
  margin-top: -2px;
  margin-bottom: -9px;
  color: #817f7f;
}
.panel_body_style {
  padding: 0px;
  padding-top: 15px;
  padding-left: 6px;
}
.list_item {
  max-width: 180px;
  margin-left: auto;
  margin-right: auto;
}
.thumb_style {
  -webkit-box-shadow: 1px 2px 8px 0 rgba(147, 149, 152, 0.4);
  box-shadow: 1px 2px 8px 0 rgba(147, 149, 152, 0.4);
}
.thumb_img_style {
  max-height: 99px;
}
.list_item_cam_title {
  width: 100%;
  text-align: left;
  font-size: 11px;
  margin-top: 2px;
  margin-bottom: 2px;
  border-bottom: 1px solid #A1A0A0;
}
.item_info {
  width: 100%;
  height: 20px;
  border-bottom: 1px solid #e6e6e6;
}
.item_info_text {
  font-size: 11px;
  float: left;
}
.cam_status {
  width: 9px;
  height: 9px;
  float: left;
}
