@import "style.less";

///////////////////////Settings PANEL
.settings{
  width: 300px;
  height: 303px;
  background-color: #3895d0;
  border: 2px solid #3895d0;
  border-radius: 5px;
}
.left_sett_side{
  width: 147px;
  height: 100%;
  float: left;
  border-radius-left: 5px;
  padding-left: 12px;
}
.right_sett_side{
  width: 149px;
  height: 100%;
  float: left;
  background-color: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.settings_command_name{
  width: 145px;
  height: 30px;
  font-size: 14px;
  text-align: left;
  color: white;
  //  margin-left: 10px;
  padding-top: 10px;
}
.first_command_margin{
  margin-top: 5px;
}
.settings_command{
  .settings_command_name;
  color: #3895d0;
  font-size: 13px;
}
.btn_del_cam {
  font-size: 13px;
  margin-top: -7px;
  padding: 1px 14px;
  margin-left: 17px;
  background-color: #3895d0;
}
.style_network_info{
  margin-left: 68px;
}
.style_on_off{
  margin-left: -33px;
  padding-top: 5px;
}
.select_time_zone{
  width: 90%;
  background-color: @mainWhite;
  border: 1px solid #ccc;
  -webkit-radius: 4px;
  border-radius: 4px;
  margin-left: 10px;
  // -webkit-border-top-right-radius: 4px;
  // border-top-right-radius: 4px;
  // -moz-border-radius-bottomright: 4px;
  // -webkit-border-bottom-right-radius: 4px;
  // border-bottom-right-radius: 4px;
}
///////////////////////////

///////////////////////Network Info PANEL
.network_info{
  .settings;
  height: 240px;
}
.heading_panel{
  height: 30px;
  color: white;
  text-align: center;
}
.right_sett_side_network{
  width: 149px;
  height: 196px;
  float: left;
  background-color: white;
  border-bottom-right-radius: 5px;
}
.btn_cancel_style_network{
  font-size: 13px;
  margin-top: 32px;
  margin-left: 55px;
  padding: 1px 14px;
}
.btn_save_style_network{
  font-size: 13px;
  margin-left: 7px;
  background-color: #3895d0;
  margin-top: 32px;
  width: 70px;
}

#local_ip, #local_port, #external_ip, #external_port{
  border-bottom: 0px;
}
///////////////////////////

///////////////////////Camera Timer PANEL
.camera_timer{
  .settings;
  height: 282px;
}
.camera_timer_settings{
  width: 100%;
  height: 238px;
  background-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-top: 5px;
}
.heading_panel_timer{
  height: 30px;
  color: white;
  text-align: center;
}
.on_of_timer_row{
  width: 100%;
  height: 75px;
  margin-top: 15px;
}
.turn_on{
  width: 250px;
  height: 32px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}
.turn_on_of_style{
  float: left;
  font-size: 17px;
  color: @mainBlue;
}
.at_style{
  font-size: 10px;
  color: gray;
  float: left;
  margin-top: 6px;
  margin-left: 8px;
  margin-right: 11px;
}
.form_control{
  width: 33px;
  height: 22px;
  margin-left: 15px;
}
.two_points{
  margin-top: -32px;
  margin-left: 119px;
}
.input_cam_timer_style{
  margin-top: -30px;
  margin-left: 127px;
}
.settings_am_pm{
  float: right;
  margin-top: -32px;
}
.cam_timer_repeat_container{
  width: 100%;
  height: 90px;
  margin-top: -7px;
}
.cam_timer_repeat_left{
  height: 34px;
}
.repeat_checkbox{
  width: 100%;
  height: 20px;
  float: left;
  margin-bottom: 10px;
}
.repeat_checkbox_days{
  //width: 30px;
  height: auto;
  float: left;
}
.cancel_save_timer{
  width: 100%;
  height: 47px;
  margin-top: -3px;
  margin-top: 0px;
}
.cancel_save_btn_style{
  font-size: 13px;
  padding: 1px 14px;
  margin-left: 75px;
  margin-top: 15px;
}
.margin_btn_save_style{
  font-size: 13px;
  padding: 1px 14px;
  background-color: #3895d0;
  margin-top: 15px;
}
///////////////////////////

///////////////////////Network Delete Camera PANEL
.del_cam_options{
  .settings;
  height: 200px;
}
.del_cam_container{
  width: 100%;
  height: 141px;
  background-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-top: 5px;
}
.heading_panel_del_cam{
  height: 30px;
  color: white;
  text-align: center;
}
.del_cam_txt{
  width: 80%;
  height: 35px;
  text-align: center;
  color: #3895d0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.del_cam_checkbox{
  margin-left: 141px;
  margin-top: 30px;
}
.cancel_del{
  width: 100%;
  height: 42px;
  margin-top: 10px;
  background-color: #3895d0;
}
///////////////////////////

///////////////////////Network Dellete Camera BOX
.del_cam_pop_up{
  .settings;
  height: 94px;
}
.del_cam_box{
  width: 100%;
  height: 44x;
  border-radius: 5px;
  background-color: #3895d0;
  padding-top: 5px;
}
.heading_panel_del_cam{
  height: 30px;
  color: white;
  text-align: center;
}
.cancel_del{
  width: 90%;
  height: 40px;
  background-color: #3895d0;
  margin-left: 10px;
  margin-top: 0px;
}
.cancel_del_btn_style{
  //.btn_cancel_style; // TODO
  font-size: 13px;;
  padding: 1px 14px;
  margin-left: 58px;
  margin-top: 10px;
}

.btn_save_del_style{
  width: 70px;
  margin-left: 11px;
  margin-top: 10px;
}
///////////////////////////

/////////////////////// ALERT PANEL
.email_alerts{
  .settings;
  height: 338px;
}
.email_alerts_settings{
  width: 100%;
  height: 294px;
  background-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-top: 5px;
}
.heading_panel_timer{
  height: 30px;
  color: white;
  text-align: center;
}
.alert_type_select{
  width: 100%;
  height: 100px;
  text-align: center;
  padding-top: 5px;
}
.e_mail_alert_txt_style{
  margin-top: -5px;
}
.e_mail_alert_checkbox_style{
  margin-top: -5px;
}
.e_mail_alert{
  width: 80%;
  height: 50px;
  text-align: left;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
}
.form_control_mail_alert {
  width: 210px;
  height: 26px;
  margin-left: 15px;
  margin-top: - 2px;
}
.e_mail_alert_cancel_save{
  width: 100%;
  height: 25px;
  padding-left: 50px;
}

.cancel_alert_btn_style{
  margin-left: 41px;
  margin-top: 32px;
  width:  70px;
}

.btn_save_alert_style{
  margin-top: 32px;
  margin-left: 10px;
  width:  70px;
}

///////////////////////////

.active_panel{
  display: block;
}

.inactive_panel{
  display: none;
  top: 46px;
  position: absolute;
}

#camera_title, #local_ip, #local_port, #external_port, #external_ip{
  color: @mainBlue;
  text-align: center;
}

.edit_holder{
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.input-append {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 10px;
}
.timepicker_wrapper {
  width: 150px;
  height: 32px;
  float: right;
  margin-top: -5px;
}

.bootstrap-datetimepicker-widget td span{
  height: 27px;
  line-height: 27px;
}

.bootstrap-datetimepicker-widget td{
  height: 27px;
  line-height: 27px;
}

.separator{
  height: 27px;
}

.table-condensed>tbody>tr>td{
  padding: 0px;
}

.datepicker_day{
  font-size: 16px;
  font-weight: normal;
  min-height: 0px;
}

input[type=checkbox].checkbox_day{
  margin-top: 1px;
}

.day {
  width: 50px;
  float: left;
}

.middle{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.btn.btn-primary.day{
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}

.btn.btn-primary.day.active{
  color: #fff;
  background-color: #8eca48;
  border-color: #61ca38;
}


//////////

.drop_panel{
  width: 1px;
  height: 1px;
}

.invisible_ul{
  height: 0px;
  width: 1px;
  background-color: transparent;
  -webkit-box-shadow: none;
  border: 0px;
}

///////////////////////Schedule PANEL
.schedule{
  .settings;
  height: 200px;
}
.heading_panel{
  height: 30px;
  color: white;
  text-align: center;
}
.right_sett_side_schedule{
  width: 149px;
  float: left;
  background-color: white;
  border-bottom-right-radius: 5px;
}

.btn_save_account_style{
  font-size: 13px;
  margin-top: 32px;
  padding: 1px 14px;
  background-color: #3895d0;
  margin-left: 5px;
  width:  70px;
}

.btn_cancel_account_style{
  margin-left: 57px;
  margin-top: 32px;
  width: 70px;
}

.account_data{
  text-align: center;
}

.style_on_off_account{
  margin-left: -33px;
  padding-top: 0px;
}

.btn_change_pass_style{
  margin-left: 20px;
}
///////////////////////////

////////////////////////CONFIRM PASS CHANGE
.left_sett_side_pass{
  width: 147px;
  height: 150px;
  float: left;
  padding-left: 12px;
}

.right_sett_side_pass{
  width: 149px;
  height: 150px;
  float: left;
  background-color: white;
  border-bottom-right-radius: 5px;
  padding-left: 2px;
}

.change_pass_in{
  margin-top: 10px;
}

#change_password{
  margin-top: 35px;
  margin-left: 5px;
}

.cancel_change_password_style{
  margin-top: 35px;
  margin-left: 57px;
  width: 70px;
}