@font-face {
  font-family: 'raavi';
  src: url('/frontend/fonts/raavi.ttf');
  src: url('fonts/raavi.ttf');
  
  /*a name to be used later*/
}
.tanglewood-font {
  font-family: 'raavi';
}
.font_inherit {
  font-family: inherit;
}
a img {
  border: none;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
.margin_l_r_auto {
  margin-left: auto;
  margin-right: auto;
}
.main_radius {
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
a:link {
  color: #ffffff;
  font-family: raavi;
  text-decoration: none;
}
a:visited {
  color: #ffffff;
  font-family: raavi;
}
a:hover {
  color: #C3DFF1;
  font-family: raavi;
}
a:active {
  color: #ffffff;
  font-family: raavi;
}
/*///////////////////////////////////////user page*/
.margin_l_r_auto {
  margin-left: auto;
  margin-right: auto;
}
.menu_style {
  margin-top: 40px;
  background-color: #3895d0;
  font-size: 19px;
}
.ul_bcg_style {
  background-color: #2D85BD;
}
.margin_top {
  margin-top: 8px;
}
.menu_buttons_style {
  font-size: 20px;
}
.logo {
  margin-top: -56px;
}
.main_container_body {
  height: auto;
  margin-top: -20px;
  margin-bottom: -50px;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.3);
  background-color: #f6f6f6;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
.text_style {
  width: 100%;
  height: 30px;
  margin-top: 50px;
  text-align: center;
  color: #3895d0;
}
.info {
  width: 100%;
  height: 30px;
  margin-top: 50px;
  text-align: center;
  color: #3895d0;
  height: auto;
  padding-left: 75px;
  padding-right: 75px;
  text-align: left;
  color: #817f7f;
  margin-bottom: 50px;
}
.bcg_color {
  background-color: #3895d0;
}
.footer_links {
  width: 433px;
  background-color: #3895d0;
  color: #ffffff;
  font-size: 17px;
  margin-left: 20px;
  margin-top: 60px;
}
.margin_footer_links {
  margin-left: 25px;
}
.social {
  width: 250px;
  height: 40px;
  margin-top: 42px;
  margin-left: 100px;
}
.social_buttons {
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-left: 10px;
}
.footer_logo {
  width: 130px;
  height: 91px;
  background-color: #3895d0;
  margin-top: 5px;
  margin-left: 200px;
  vertical-align: right;
}
.copyright {
  width: 98%;
  height: 20px;
  border-top: 1px solid #ffffff;
  margin-left: 10px;
  margin-right: 10px;
}
.copyright_style {
  color: #ffffff;
  text-align: center;
  margin-top: -2px;
}
.white_div_footer {
  width: 100%;
  height: 15px;
  background-color: #ffffff;
}
a:link {
  color: #ffffff;
  font-family: raavi;
  text-decoration: none;
}
a:visited {
  color: #ffffff;
  font-family: raavi;
}
a:hover {
  color: #C3DFF1;
  font-family: raavi;
}
a:active {
  color: #ffffff;
  font-family: raavi;
}
