////////////////////all color
@mainBlue: #3895d0;
@mainWhite: #fff;
@main_container_body: #f6f6f6;
@player_border: #E6E6E6;
@gray: gray;
@text_color_gray: #817F7F;
@media(max-width:767px){}
@media(min-width:768px){}
@media(min-width:992px){}
@media(min-width:1200px){}
//////////////////////////////

@font-face {
  font-family: 'raavi'; /*a name to be used later*/
  src: url('/frontend/fonts/raavi.ttf');
  src: url('fonts/raavi.ttf');
}
.tanglewood-font {
  font-family: 'raavi';
}
.font_inherit{
  font-family: inherit;
}

//////////for IE - no border on img
a img
{
  border: none;
}
//////////////////////////////////
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
.margin_l_r_auto{
  margin-left: auto;
  margin-right: auto;
}
.main_radius{
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

/////////////////links style
a:link {color:@mainWhite; font-family: raavi; text-decoration: none;}
a:visited {color:@mainWhite; font-family: raavi;}
a:hover {color: #C3DFF1; font-family: raavi;}
a:active {color:@mainWhite; font-family: raavi;}
//////////////////////////
