@font-face {
  font-family: 'raavi';
  src: url('/frontend/fonts/raavi.ttf');
  src: url('fonts/raavi.ttf');
  
  /*a name to be used later*/
}
.tanglewood-font {
  font-family: 'raavi';
}
.font_inherit {
  font-family: inherit;
}
a img {
  border: none;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
.margin_l_r_auto {
  margin-left: auto;
  margin-right: auto;
}
.main_radius {
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
a:link {
  color: #ffffff;
  font-family: raavi;
  text-decoration: none;
}
a:visited {
  color: #ffffff;
  font-family: raavi;
}
a:hover {
  color: #C3DFF1;
  font-family: raavi;
}
a:active {
  color: #ffffff;
  font-family: raavi;
}