@font-face {
  font-family: 'raavi';
  src: url('/frontend/fonts/raavi.ttf');
  src: url('fonts/raavi.ttf');
  
  /*a name to be used later*/
}
.tanglewood-font {
  font-family: 'raavi';
}
.font_inherit {
  font-family: inherit;
}
a img {
  border: none;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
.margin_l_r_auto {
  margin-left: auto;
  margin-right: auto;
}
.main_radius {
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
a:link {
  color: #ffffff;
  font-family: raavi;
  text-decoration: none;
}
a:visited {
  color: #ffffff;
  font-family: raavi;
}
a:hover {
  color: #C3DFF1;
  font-family: raavi;
}
a:active {
  color: #ffffff;
  font-family: raavi;
}
/*///////////////////////////////////////user page*/
.margin_l_r_auto {
  margin-left: auto;
  margin-right: auto;
}
.menu_style {
  margin-top: 40px;
  background-color: #3895d0;
  font-size: 19px;
}
.ul_bcg_style {
  background-color: #2D85BD;
}
.margin_top {
  margin-top: 8px;
}
.menu_buttons_style {
  font-size: 20px;
}
.logo {
  margin-top: -56px;
}
.main_container_body {
  height: auto;
  margin-top: -20px;
  margin-bottom: -50px;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.3);
  background-color: #f6f6f6;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
.text_style {
  width: 100%;
  height: 80px;
  margin-top: 50px;
  text-align: center;
  color: #817f7f;
}
.info {
  width: 100%;
  height: 80px;
  margin-top: 50px;
  text-align: center;
  color: #817f7f;
  color: #3895d0;
}
a:link {
  color: #ffffff;
  font-family: raavi;
  text-decoration: none;
}
a:visited {
  color: #ffffff;
  font-family: raavi;
}
a:hover {
  color: #C3DFF1;
  font-family: raavi;
}
a:active {
  color: #ffffff;
  font-family: raavi;
}
