@font-face {
  font-family: 'raavi';
  src: url('/frontend/fonts/raavi.ttf');
  src: url('fonts/raavi.ttf');
  
  /*a name to be used later*/
}
.tanglewood-font {
  font-family: 'raavi';
}
.font_inherit {
  font-family: inherit;
}
a img {
  border: none;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  /*overflow-x: hidden;*/
}
.margin_l_r_auto {
  margin-left: auto;
  margin-right: auto;
}
.main_radius {
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
a:link {
  color: #ffffff;
  font-family: raavi;
  text-decoration: none;
}
a:visited {
  color: #ffffff;
  font-family: raavi;
}
a:hover {
  color: #C3DFF1;
  font-family: raavi;
}
a:active {
  color: #ffffff;
  font-family: raavi;
}
.cursor {
  background-color: red;
}
.cursor_text {
  font-family: 'Helvetica';
  font-size: 11px;
  fill: white;
  cursor: pointer;
}
.cursor_image {
  cursor: pointer;
}
.button {
  margin-top: 10px;
  width: 80px;
  height: 20px;
  border-width: 2px;
  border-style: solid;
  cursor: pointer;
}
.recordings_lines {
  stroke: green;
}
.recordings_text {
  font-size: 10px;
  font-family: 'Helvetica';
  fill: white;
}
.test_lines {
  stroke: red;
}
.test_text {
  font-size: 100%;
  font-family: 'Helvetica';
  color: #3895d0;
}
/* timeline_base*/
path {
  fill: none;
  stroke: #3895d0;
}
svg .axis path,
svg .axis line {
  fill: none;
  stroke: #3895d0;
}
svg .axis text {
  font-family: 'Helvetica';
  font-size: 11px;
  fill: #3895d0;
}
.visible {
  display: block;
}
.minDrag_lines {
  stroke: rgba(50, 50, 50, 0.7);
  cursor: w-resize;
}
.maxDrag_lines {
  stroke: rgba(50, 50, 50, 0.7);
  cursor: e-resize;
}
.selector_lines {
  stroke: rgba(0, 255, 0, 0.3);
  cursor: move;
}
.time_links_holder {
  width: 100%;
  height: 35px;
  float: left;
}
.time_link {
  width: 14%;
  height: 100%;
  float: left;
}
.day_of_week {
  text-align: center;
  color: #3895d0;
  cursor: pointer;
}
.stage_change {
  text-align: center;
  margin-top: 10px;
  color: #3895d0;
  cursor: pointer;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.stage_change_holder {
  float: left;
  height: 15px;
  width: 50px;
}
