@font-face {
  font-family: 'raavi';
  src: url('/frontend/fonts/raavi.ttf');
  src: url('fonts/raavi.ttf');
  
  /*a name to be used later*/
}
.tanglewood-font {
  font-family: 'raavi';
}
.font_inherit {
  font-family: inherit;
}
a img {
  border: none;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
/*  overflow-x: hidden;*/
}
.margin_l_r_auto {
  margin-left: auto;
  margin-right: auto;
}
.main_radius {
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
a:link {
  color: #ffffff;
  font-family: raavi;
  text-decoration: none;
}
a:visited {
  color: #ffffff;
  font-family: raavi;
}
a:hover {
  color: #C3DFF1;
  font-family: raavi;
}
a:active {
  color: #ffffff;
  font-family: raavi;
}
/*///////////////////////////////////////user page*/
.menu_style {
  margin-top: 35px;
  background-color: #3895d0;
  font-size: 19px;
}
.ul_bcg_style {
  background-color: #2D85BD;
}
.margin_top {
  margin-top: 8px;
}
.menu_buttons_style {
  font-size: 20px;
}
.logo {
  margin-top: -56px;
}
.main_container_body {
  height: auto;
  margin-top: -20px;
  margin-bottom: -50px;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.3);
  background-color: #f6f6f6;
}
.player_container {
  width: 100%;
  height: auto;
}
.container_video {
  max-width: 950px;
  height: auto;
  margin: 0px;
  margin-right: auto;
  margin-left: auto;
}
.line {
  width: 98%;
  height: 40px;
  border-bottom: 1px solid #808080;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
/*ON/OFF CAM*/
#radioBtn .notActive {
  color: #3895d0;
  background-color: #ffffff;
}
.onoff_rec_cam {
  float: left;
  width: 68px;
  height: 30px;
  margin-top: 11px;
  margin-left: 7px;
}
.cam_img {
  float: right;
  width: 80px;
  height: 50px;
  margin-top: -20px;
  margin-right: -8px;
}
.cam_img:hover {
  cursor: pointer;
}
.camera_title {
  width: 600px;
  height: 50px;
  font-size: 19px;
}
.cam_title_pos {
  position: absolute;
  top: 10px;
  left: 90px;
}
.player {
  width: 100%;
  height: 480px;
  border: 1px solid #e6e6e6;
}
.controls {
  width: 100%;
  height: 80px;
  margin-top: 10px;
}
.test {
  width: 400px;
  height: 585px;
}
.camera_list_heading {
  text-align: center;
  margin-top: -7px;
  margin-bottom: -6px;
}
.list_item {
  max-width: 100%;
}
.thumb_style {
  -webkit-box-shadow: 1px 2px 8px 0 rgba(147, 149, 152, 0.4);
  box-shadow: 1px 2px 8px 0 rgba(147, 149, 152, 0.4);
}
.list_item_cam_title {
  width: 100%;
  text-align: center;
  font-size: 13px;
  margin-top: 2px;
  margin-bottom: 2px;
  border-bottom: 1px solid #A1A0A0;
}
.item_info {
  width: 100%;
  height: 20px;
  border-bottom: 1px solid #e6e6e6;
}
.item_info_text {
  font-size: 12px;
  float: left;
}
.cam_status {
  width: 20px;
  height: 20px;
  float: left;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  /*overflow-x: hidden;*/
}
.text_style {
  width: 100%;
  height: 80px;
  margin-top: 50px;
  text-align: center;
  color: #817f7f;
}
/*FOOTER*/
.bcg_color {
  background-color: #3895d0;
}
.footer_links {
  width: 415px;
  background-color: #3895d0;
  color: #ffffff;
  font-size: 17px;
  margin-left: 30px;
  margin-top: 60px;
}
.margin_footer_links {
  margin-left: 25px;
}
.social {
  width: 250px;
  height: 40px;
  margin-top: 42px;
  margin-left: 100px;
}
.social_buttons {
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-left: 10px;
}
.footer_logo {
  width: 130px;
  height: 91px;
  background-color: #3895d0;
  margin-top: 5px;
  margin-left: 200px;
  vertical-align: right;
}
.copyright {
  width: 98%;
  height: 30px;
  padding-top: 8px;
  border-top: 1px solid #ffffff;
  margin-left: 10px;
  margin-right: 10px;
}
.copyright_style {
  color: #ffffff;
  text-align: center;
  margin-top: -2px;
}
.white_div_footer {
  width: 100%;
  height: 15px;
  background-color: #ffffff;
}
a:link {
  color: #ffffff;
  font-family: raavi;
  text-decoration: none;
}
a:visited {
  color: #ffffff;
  font-family: raavi;
}
a:hover {
  color: #C3DFF1;
  font-family: raavi;
}
a:active {
  color: #ffffff;
  font-family: raavi;
}
/*TIMELINE*/
.timeline_holder {
  width: 100%;
  height: 95px;
}
.go_live {
  width: 62px;
  float: right;
  margin-top: -74px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.timeline-event {
  margin-top: 26px;
}
div.cursor {
  background-color: transparent;
  border-color: transparent;
  color: transparent;
  margin-top: 12px;
}
div.timeline-axis {
  border-width: 0px;
}
div.timeline-event {
  height: 5px;
}
/* TIMELINE */
/*CONTACT INFO*/
body {
  padding-top: 30px;
}
.form-control {
  margin-bottom: 10px;
}
/*RADIO BUTONS*/
.rec_btn_style {
  margin-top: 8px;
  margin-left: 2px;
}
/*COLLAPSE PANEL*/
body {
  padding-top: 30px;
}
.faq-cat-content {
  margin-top: 25px;
}
.faq-cat-tabs li a {
  padding: 15px 10px 15px 10px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  color: #777777;
}
.nav-tabs li a:focus,
.panel-heading a:focus {
  outline: none;
}
.panel-heading a,
.panel-heading a:hover,
.panel-heading a:focus {
  text-decoration: none;
  color: #777777;
}
.faq-cat-content .panel-heading:hover {
  background-color: #efefef;
}
.active-faq {
  border-left: 5px solid #888888;
}
.panel-faq .panel-heading .panel-title span {
  font-size: 13px;
  font-weight: normal;
}
/*MODAL*/
.change_pswd {
  width: 165px;
  background-color: #3895d0;
  color: #ffffff;
}
.change_pswd_field {
  width: 100%;
}
.boottom_style {
  background-color: #3895d0;
}
.select_bicker_basic {
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #ccc;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.select_picker_gender {
  padding: 7px 130px 7px;
}
.select_picker_country {
  padding: 7px 0px 7px;
}
.select_picker_date {
  width: 15px;
  padding: 4px;
  background-color: #3895d0;
  color: #ffffff;
}
.select_picker_month {
  width: 55px;
  padding: 7px;
}
.select_picker_day {
  width: 55px;
  padding: 7px;
}
.select_picker_year {
  width: 80px;
  padding: 7px;
}
.form {
  padding-left: 28px;
}
.general_sett_con {
  width: 100%;
  height: 273px;
}
.padding {
  padding: 9px 12px;
}
.settings_on_off {
  float: right;
  margin-top: 5px;
}
.thumbnail {
  position: relative;
  padding: 0px;
  margin-bottom: 20px;
}
.thumbnail img {
  width: 100%;
}
.selected {
  color: #3895d0;
  border-radius: 4px;
  box-shadow: 0px 1px 5px #3895d0;
}
.btn_del_cam_con {
  width: 100%;
  height: 35px;
}
.confirm_cancel_container {
  width: 61%;
  margin-left: auto;
  margin-right: auto;
}
.btn_del_cam_confirm {
  float: left;
}
.btn_del_cam_cancel {
  float: right;
  margin-right: 8px;
}
.form_del_cam {
  padding-bottom: 48px;
}
.go_live {
  text-align: center;
  margin-top: 10px;
  cursor: pointer;
  color: #3895d0;
  border-radius: 4px;
  box-shadow: 0px 1px 5px #3895d0;
}
.live {
  color: #3895d0;
  width: 100%;
  text-align: center;
}
.time_bicon {
  display: inline-block;
  width: 6%;
  height: 44px;
  background-color: #3895d0;
  color: white;
  text-align: center;
  margin-top: -10px;
}
.time_bicon_p {
  margin-top: 12px;
}
.demo_timeline {
  width: 88%;
  height: 45px;
  float: left;
}
.footer {
  margin-top: 50px;
}

#_player_container:-webkit-full-screen {
  width: 100% !important;
  height: 100% !important;
  position: absolute !important;
  left: 0px !important;
  top: 0px !important;
}

#_player_container:-moz-full-screen {
  width: 100% !important;
  height: 100% !important;
  position: absolute !important;
  left: 0px !important;
  top: 0px !important;
}

#_player_container:-ms-full-screen {
  width: 100% !important;
  height: 100% !important;
  position: absolute !important;
  left: 0px !important;
  top: 0px !important;
}

#_player_container:fullscreen {
  width: 100% !important;
  height: 100% !important;
  position: absolute !important;
  left: 0px !important;
  top: 0px !important;
}