{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Chk-in | Login</title>
        <script type="text/javascript" src="{% static 'js/constants.js' %}"></script>
        <script type="text/javascript" src="{% static 'libs/jquery/jquery.js' %}"></script>
        <link href="{% static 'libs/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
        <script src="{% static 'libs/bootstrap/bootstrap.min.js' %}"></script>

        <!--validator-->
        <link rel="stylesheet" href="{% static 'libs/bootstrap/bootstrapValidator.min.css' %}"/>
        <script src="{% static 'libs/bootstrap/bootstrapValidator.min.js' %}"></script>

        <!-- notif_it -->
        <link type="text/css" rel="stylesheet" href="{% static 'css/notifIt.css' %}">
        <script type="text/javascript" src="{% static 'js/notifIt.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'css/login.css' %}">
        <script type="text/javascript" src="{% static 'js/cookies.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/login.js' %}"></script>
    </head>
    <body onload="login_on_load()">
        <div class="login_page">
            <div class="login_page_contents"></div>
                <div class="container" style="margin-top: 50px;">
                    <div class="row">
                        <div class="col-sm-6 col-md-4 col-md-offset-4 login_form_style">
                            <h2 class="text-center login-title">Sign in to continue to Check-in</h2>
                            <div class="account-wall">
                                <div class="login_logo"></div>
                                <form method="post" action="{% url 'account_login' %}"
                                      id="LoginForm" class="form-signin"
                                      data-bv-message="This value is not valid"
                                      data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
                                      data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
                                      data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
                                    {% csrf_token %}
                                    <span class="login_feild_heding">Enter username or email address</span>
                                    <div class="form-group">
                                        <input id="email" type="text" class="form-control" name="login"
                                               data-bv-message="The username is not valid"

                                               data-bv-notempty="true"
                                               data-bv-notempty-message="The username is required and cannot be empty"

                                               data-bv-regexp="true"
                                               data-bv-regexp-regexp="[a-zA-Z0-9_\.]+"
                                               data-bv-regexp-message="The username can only consist of alphabetical, number, dot and underscore"

                                               data-bv-stringlength="true"
                                               data-bv-stringlength-min="6"
                                               data-bv-stringlength-max="30"
                                               data-bv-stringlength-message="The username must be more than 6 and less than 30 characters long"/>
                                    </div>
                                    <span class="login_feild_heding">Enter password</span>
                                    <div class="form-group">
                                        <input id="entered_pass" type="password" class="form-control" name="password"
                                               data-bv-notempty="true"
                                               data-bv-notempty-message="The password is required and cannot be empty"/>
                                    </div>
{#                                    <input type="submit" class="btn btn-lg btn-success btn-block" value="Submit" />#}
                                    <button id="loginbtn" class="btn btn-lg btn-success btn-block" onclick="login_process(event)">
                                    Sign in</button>
                                    <label class="checkbox pull-left">
                                    <input type="checkbox" value="remember-me">Remember me</label>
                                    <a href="/forgot_password_form/" class="pull-right need-help" style="font-family: sans-serif;">Forgot your password? </a><span class="clearfix"></span>
                                </form>
                            </div>
                            <a href="registration.html" class="text-center new-account" style="font-family: sans-serif;">New to Chk-in? Create an account </a>
                        </div>
                        <div class="col-sm-6">
                            <div class="item">
                                <img src="img/login_world.png" class="img-responsive ">
                            </div>
                            <div class="login_welcome_con">
                                <h2 class="login_welcome_text">Be confident with Chk-in. We provide: </h2>
                                <h3 class="login_welcome_text"> - Cloud recording</h3>
                                <h3 class="login_welcome_text"> - 24h motion alerts</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blank_div"></div>
            </div>
            <div class="navbar navbar-fixed-bottom navbar_bottom">
                <div class="login_page_links_con">
                    <div class="login_page_links">
                        <a href="support.html"><h4 style="font-family: sans-serif;">Support</h4></a>
                    </div>
                    <div class="login_page_links">
                        <a href="privacy_policy.html"><h4 style="font-family: sans-serif;">Privacy Policy</h4></a>
                    </div>
                    <div class="login_page_links">
                        <a href="terms_of_service.html"><h4 style="font-family: sans-serif;">Terms of Service</h4></a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
