{% extends "dashboard/base.html" %}

{% block content %}
<div class="single-widget-container error-page">
    <section class="widget transparent widget-404">
        <div class="body">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-align-center">500</h1>
                </div>
                <div class="col-md-12">
                    <div class="description">
                        <h2>Opps, blob does not exist.</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}

{% block extra_script %}
{% endblock %}