{% extends "base.html" %}
{% set active_page = "usage" %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<section class="widget">
			<header>
				<h4><i class="fa fa-list"></i> Records</h4>
			</header>
			<div class="body">
				<table id="datatable-table" class="table table-striped">
					<thead>
					<tr>
						<th>Type</th>
						<th>Name</th>
						<th>Date</th>
						<th>Cost/Month ($)</th>
						<th>Storage (MB)</th>
						<th>Download (MB)</th>
					</tr>
					</thead>
					<tbody id="table-records">
					</tbody>
				</table>
			</div>
		</section>
	</div>
</div>
{% endblock %}

{% block extra_script %}
<script src="/dashboard/assets/lib/nvd3/nv.d3.custom.js"></script>

<!-- nvd3 models -->
<script src="/dashboard/assets/lib/nvd3/src/models/scatter.js"></script>
<script src="/dashboard/assets/lib/nvd3/src/models/axis.js"></script>
<script src="/dashboard/assets/lib/nvd3/src/models/legend.js"></script>
<!-- <script src="/dashboard/assets/lib/nvd3/src/models/multiBar.js"></script> -->
<!-- <script src="/dashboard/assets/lib/nvd3/src/models/multiBarChart.js"></script> -->
<script src="/dashboard/assets/lib/nvd3/src/models/line.js"></script>
<script src="/dashboard/assets/lib/nvd3/src/models/lineChart.js"></script>
<!-- <script src="/dashboard/assets/lib/nvd3/stream_layers.js"></script> -->
<script src="/dashboard/assets/js/ds-table.js"></script>
<script src="/dashboard/assets/js/ds-usage.js"></script>
{% endblock %}
